.place__title {
  width: 46.7%;
  margin: 0;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 106%;
  letter-spacing: .022em;

  color: #FFFFFF;
}

@media screen and (max-width: 1024px) {
  .place__title {
    width: 47.5%;
    font-size: 7vw;
    line-height: 106%;
  }
}

@media screen and (max-width: 768px) {
  .place__title {
    width: 47%;
    font-size: calc(2.4vw + 1.46em);
    line-height: 110%;

  }
}

@media screen and (max-width: 767px) {
  .place__title {
    width: 100%;

  }
}
