.place__web-address {
    width: 49%;
    margin-left: 40px;
}

@media screen and (max-width: 1024px) {
    .place__web-address {
        margin-left: 32px;
    }
}

@media screen and (max-width: 768px) {
    .place__web-address {
        margin-left: 28px;
    }
}

@media screen and (max-width: 767px) {
    .place__web-address {
        margin-top: 33px;
        margin-left: 0;
        min-width: 288px;
    }
}