.cover {
  margin: 92px auto 92px;
  width: 93.5%;
}

@media screen and (max-width: 1024px) {
  .cover {
width: 100%;
  }
}

@media screen and (max-width: 768px) {
  .cover {
    margin-top: 65px;
    margin-bottom: 88px;
  }
}

@media screen and (max-width: 320px) {
  .cover {
    margin-top: 37px;
    margin-bottom: 65px;
  }
}
